<h1>New Recipe</h1>

<%= form_with model: @recipe do |form| %>

    <div class="form-field">
        <%= form.label :name, "Recipe Name:" %>
        <%= form.text_field :name %>
    </div>

    <div class="form-field">
        <%= form.label :ingredients %>
        <%= form.collection_check_boxes :ingredients, Ingredient.order(:name), :id, :name %>
    </div>

    <div class="form-field">
        <%= form.label :user_id %>
        <%= form.collection_select :user_id, User.order(:username), :id, :username %>
    </div>

    <%= form.submit %>
<% end %>

<div class="nav-bar botton-nav">
    <%= link_to "Home", '/' %>
    <%= link_to "Recipes", recipes_path %>
</div>