<h1><%= @user.username %></h1>

<h2>Recipes</h2>
<ul class="recipes-list">
<% @user.recipes.each do |recipe| %>
   <li class="recipe"><%= recipe.name %></li>
<% end %>
</ul>

<h2>Allergies List</h2>
<% if @user.allergy_ingredients.count > 0 %>
    <ul>
        <% @user.allergy_ingredients.each do |a_i| %>
            <li><%= a_i %></li>
        <% end %>
    </ul>
<% else %>
    <p>This user has no documented allergies</p>
<% end %>

<%= button_to 'Delete User', @user, :confirm => 'Are you sure', :method => :delete %>


<div class="nav-bar botton-nav">
    <%= link_to "Home", '/' %>
    <%= link_to "Recipes", recipes_path %>
    <%= link_to "Ingredients", ingredients_path %>
</div>