<h1><%= @user.username %></h1>

<h2>Recipes</h2>
<% @user.recipes.each do |recipe| %>
    <%= recipe.name %>
<% end %>

<h2>Allergies List</h2>
<% if @user.allergy_ingredients.count > 0 %>
    <p><%= @user.allergy_ingredients.join(", ") %></p>
<% else %>
    <p>This user has no documented allergies</p>
<% end %>

<%= button_to 'Delete User', @user, :confirm => 'Are you sure', :method => :delete %>


<div class="nav-bar botton-nav">
    <%= link_to "Home", '/' %>
</div>