<h1><%= @ingredient.name %></h1>

<div class="recipes-list">
<h2>Recipes List</h2>
<% @recipes_in.each do |recipe| %>
    <div class="recipe-item">
        <h3><%= recipe.name %></h3>
        <p><%= "From: #{recipe.user.username}" %></p>
    </div>
<% end %>

<div class="nav-bar botton-nav">
    <%= link_to "Home", '/' %>
    <%= link_to "Recipes", recipes_path %>
    <%= link_to "Ingredients", ingredients_path %>
</div>