<h1><%= @ingredient.name %></h1>

<div class="recipes-list">
<h2>Recipes List</h2>
<ul>
<% @recipes_in.each do |recipe| %>
    <li class="recipe-item">
        <%= "#{recipe.name}, by: #{recipe.user.username}" %>
    </li>
<% end %>
</ul>

<div class="nav-bar botton-nav">
    <%= link_to "Home", '/' %>
    <%= link_to "Recipes", recipes_path %>
    <%= link_to "Ingredients", ingredients_path %>
</div>